body{
    display: grid;
    flex-direction: row;
    grid-auto-rows: 1fr 2fr 1fr 1fr 1fr;
    

}

nav{
    grid-row: 1;
    text-align: center;
}

main{
    grid-row: 2;
    text-align: center;
}

aside{
    grid-row: 3;
}

footer{
    text-align: center;
}