body{
    color: #2b4850;
    background-color: #ebd8c1;
    display: grid;
    flex-direction: row;
    grid-auto-rows: 1fr 2fr 1fr 1fr 1fr;
    

}

nav{
    grid-row: 1;
    text-align: center;
}

main{
    grid-row: 2;
    text-align: center;
}

aside{
    color: #35575f;
    background-color: #fbf0ef;
    grid-row: 3;
}

li{
    list-style-type: square;
}

footer{
    text-align: center;
}