body{
    color: #2b4850;
    background-color: #ebd8c1;
    font-family:'Fragment Mono', monospace;
    display: grid;
    grid-auto-rows: 1fr 2fr 1fr 1fr 1fr;
    height: 100vh;
}

nav{
    grid-row: 1;
    text-align: center;
}

main{
    grid-row: 2;
    text-align: center;
}

aside{
    color: #35575f;
    background-color: #fbf0ef;
    grid-row: 3;
}

li{
    list-style-type: square;
}

footer{
    text-align: center;
}

.textbox{
    width: 95%;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid;
    border-radius: 4px;
    border-color: rgb(28, 156, 199);
}

.footerlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 40px;
    gap: 1px;
}

.icon{
    list-style-type: none;
}

